<html>

<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="apple-touch-icon" sizes="120x120" href="{{ url_for('static', filename='apple-touch-icon.png') }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='favicon-32x32.png') }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='favicon-16x16.png') }}">
    <link rel="manifest" href="{{ url_for('static', filename='site.webmanifest') }}">
    <link rel="mask-icon" href="{{ url_for('static', filename='safari-pinned-tab.svg') }}" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>調査結果報告所</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
</head>

<body>
    <h3>Sorry...</h3>
    <p>残念ながら、貴方のチームは既に3回の調査報告を終えています。 そのため、もう調査報告をすることはできません。
    </p>
    <p>ですが、サービスとして、解答が合っていたチームのみが表示される
        <a href="kaito">ページ</a>をご紹介します。</p>
</body>