<html>

<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="apple-touch-icon" sizes="120x120" href="{{ url_for('static', filename='apple-touch-icon.png') }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='favicon-32x32.png') }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='favicon-16x16.png') }}">
    <link rel="manifest" href="{{ url_for('static', filename='site.webmanifest') }}">
    <link rel="mask-icon" href="{{ url_for('static', filename='safari-pinned-tab.svg') }}" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
    <title>ログイン</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script>
        var submit_click = function() {
            document.getElementById("check_kurukuru").classList.remove("hidden");
            document.getElementById("check_input").classList.add("hidden")
        }

        function getParam(name, url) {
            if (!url) url = window.location.href;
            name = name.replace(/[\[\]]/g, "\\$&");
            var regex = new RegExp("[?&]" + name + "(=([^&#]*)|&|#|$)"),
                results = regex.exec(url);
            if (!results) return null;
            if (!results[2]) return '';
            return decodeURIComponent(results[2].replace(/\+/g, " "));
        }
        $(function() {
            // Ajax button click
            $('#submit_button').on('click', function() {
                var kuru = document.getElementById("check_kurukuru")
                kuru.classList.remove("hidden");
                var inputt = document.getElementById("check_input")
                inputt.classList.add("hidden")
                var resultt = document.getElementById("check_result")
                resultt.classList.add("hidden")
                var resulttitle = document.getElementById("result_title")
                var resulttinner = document.getElementById("result_inner")
                console.log($('#keyword').val())
                $.ajax({
                        url: '/login_check',
                        type: 'POST',
                        data: {
                            'id': $('#id_').val(),
                            'passw': $("#passw_").val()
                        }
                    })
                    // Ajaxリクエストが成功した時発動
                    .done((data) => {
                        data1 = JSON.parse(data)
                        console.log(data1)
                        if (data1.result.tf == "success") {
                            window.location = "'" + getParam("from_") + "'"
                        } else {
                            resultt.classList.remove("hidden")
                            resulttitle.innerHTML = data1.result.tf;
                            resulttinner.innerHTML = data1.result.inner;
                        }

                    })
                    .fail((data) => {
                        resultt.innerHTML = "<h1>送信に失敗しました。通信状況を確認してください。</h1><a href='/' class='box button'>戻る</a>"
                    })
                    // Ajaxリクエストが成功・失敗どちらでも発動
                    .always((data) => {
                        kuru.classList.add("hidden")
                        inputt.classList.add("hidden")
                        resultt.classList.remove("hidden")
                    });
            });
        });
    </script>
</head>

<body style="width: 50%;position: absolute;
top: 50%;
left: 50%;
-webkit-transform: translateY(-50%) translateX(-50%);
transform: translateY(-50%) translateX(-50%);">
    <div id="check_input">
        <h3>ログイン<span style="padding: 1em;font-size: 50%;">by truemission</span></h3>
        <input type="text" id="id_" placeholder="チーム名" minlength="3" maxlength="10">
        <input class="input" type="password" id="passw_" placeholder="パスワード" minlength="5" maxlength="5">
        <button class="box button" id="submit_button">送信</button>

    </div>
    <div id="check_kurukuru" class="hidden">
        <h1><span style="padding: 1em;font-size: 50%;">確認中です...</span></h1>
    </div>
    <div id="check_result" class="hidden">
        <h1 id="result_title"></h1>
        <p id="result_inner"></p>
    </div>
</body>

</html>